<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.cmu.cs.crystal.CrystalAnalysis">
      <analysis
            class="ca.uwaterloo.ece.qhanam.slicer.DataSlicer"
            name="DSlicer">
      </analysis>
      <analysis
            class="ca.uwaterloo.ece.qhanam.slicer.ControlSlicer"
            name="CSlicer">
      </analysis>
   </extension>
</plugin>
